.MainIngredient {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;

  &_dragging{
    background-color: var(--colors-interface-accent);
  }
  &_canDrop{
    box-shadow: 0 0 5px 1px var(--colors-interface-accent);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_dragIcon {
    cursor: grab;
  }
}

.ingredient-enter{

}