.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  font-family: 'Jet Brains Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &__active {
    color: var(--text-primary-color);
  }

  &__inactive {
    color: var(--text-inactive-color);
  }
}

.linkActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.linkInactive {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  color: var(--text-inactive-color);
  font-family: 'Jet Brains Mono', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.header {
  &_nav {
    &_ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;

      &_liLink {

      }

      &_left {
        display: flex;
        justify-content: flex-start;

        &_li {

        }
      }

      &_mid {
        display: flex;
        justify-content: center;

        &_li {
          cursor: pointer;
        }
      }

      &_right {
        display: flex;
        justify-content: flex-end;

        &_li {

        }
      }
    }
  }
}